<div id="mnavbar_background">
  <div id="mnavbar">
    <div id="mnavbar_header">
      <div id="close_mnavbar" class="icon"></div>
      <% if( currentUser ) { %>
        <a id="header_logout_link" title="logout" href="/admin/logout"><div id="header_logout" class="icon fa-arrow-right-from-bracket"></div></a>
      <% } %>
    </div>
    <div id="mnavbar_options">
      <div id="menu_mnavbar_option" class="mnavbar_main_option">
        <div class="mnavbar_main_option_name">
          <p id="menu_navbar_title" class="mnavbar_main_option_name_text">Menu</p>
        </div>
        <div class="mnavbar_main_option_items">
          <a href="/products" role="link" id="mnavbar_products" class="mnavbar_sub_option">Products</a>
          <a href="/productsCategories" role="link" id="mnavbar_products_categories" class="mnavbar_sub_option">Products Categories</a>
          <a href="/tiers" role="link" id="mnavbar_tiers" class="mnavbar_sub_option">Tiers</a>
          <a href="/ingredients" role="link" id="mnavbar_ingredients" class="mnavbar_sub_option">Ingredients</a>
        </div>
      </div>
    
      <div id="menu_mnavbar_option" class="mnavbar_main_option">
        <div class="mnavbar_main_option_name">
          <p id="orders_navbar_title" class="mnavbar_main_option_name_text">Orders</p>
          <div id="orders_error_icon" class="icon hidden fa-triangle-exclamation"></div>
        </div>
        <div class="mnavbar_main_option_items">
          <a href="/completed" role="link" id="mnavbar_orders_completed" class="mnavbar_main_option_item">
            <p class="mnavbar_sub_option">Completed</p>
            <p id="mnavbar_orders_completed_number" class="mnavbar_sub_option_text flex-right"></p>
          </a>
          <a href="/pending" role="link" id="mnavbar_orders_pending" class="mnavbar_main_option_item">
            <p class="mnavbar_sub_option">Pending</p>
            <p id="mnavbar_orders_pending_number" class="mnavbar_sub_option_text flex-right"></p>
          </a>
          <a href="/cuisine" role="link" id="mnavbar_orders_cuisine" class="mnavbar_main_option_item">
            <p class="mnavbar_sub_option">Cuisine</p>
            <p id="mnavbar_orders_cuisine_number" class="mnavbar_sub_option_text flex-right"></p>
          </a>
          <a href="/delivery" role="link" id="mnavbar_orders_delivery" class="mnavbar_main_option_item">
            <p class="mnavbar_sub_option">Delivery</p>
            <p id="mnavbar_orders_delivery_number" class="mnavbar_sub_option_text flex-right"></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>