<div id="navbar">
  <div id="navbar_top">
    <div id="open_mnavbar">
      <div id="open_mnavbar_btn" class="icon fa-solid fa-bars"></div>
    </div>
    <div id="navbar_logo_container">
      <img id="navbar_logo" src="./images/logo.svg" alt="">
      <p id="navbar_title"></p>
    </div>
    <div id="navbar_header">
      <!-- <i id="navbar_admin_btn" class="fa-solid fa-user-shield fa-fw"></i> -->
    </div>
  </div>
</div>