<div id="navbar">
  <div id="navbar_top">
    <div id="open_mnavbar">
      <div id="open_mnavbar_btn" class="icon fa-solid fa-bars"></div>
    </div>
    <div id="navbar_logo_container">
      <img id="navbar_logo" src="/images/logo.svg" alt="">
      <p id="navbar_title"></p>
    </div>
    <div id="navbar_header">
      <div id="close_admin_actions_container"></div>
      <!-- <i id="navbar_admin_btn" class="fa-solid fa-user-shield fa-fw"></i> -->
      <div id="mnavbar_header_admin">
        <div id="admin_account_actions" class="hidden">
          <a href="/account" role="link" id="admin_actions_account" class="admin_actions_item">
            <div class="admin_actions_icon fa-solid fa-fw fa-user"></div>
            <p class="admin_actions_item_text">account</p>
          </a>
          <a href="/admin/logout" id="admin_actions_logout" class="admin_actions_item">
            <div class="admin_actions_icon fa-solid fa-fw fa-shield-halved"></div>
            <p class="admin_actions_item_text">logout</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>