<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/login.css">
  <title>Admin Login</title>
</head>
<body>

  <div id="root">
    <div id="main">
      <div id="logo_container">
        <img id="logo" src="/images/logo.svg" alt="">
      </div>
      <form action="/admin/login" method="POST">
        <input type="text" placeholder="username" name="username" id="username">
        <input type="password" placeholder="password" name="password" id="password">
        <button>login</button>
      </form>
    </div>
  </div>
  
</body>
</html>