#mnavbar_header_admin {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
}

#mnavbar_header_admin_icon {
  display: flex;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  margin: auto 0px auto 0;
  /* border: 2.5px solid #c44b4b; */
}

#mnavbar_header_admin_icon::before {
  margin: auto;
}

#mnavbar_header_admin_name {
  padding: 6px 8px;
}

.admins {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.admin {
  margin: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #fbfbff;
  flex-direction: column;
}

.admin_name {
  padding: 6px 10px;
  font-weight: bolder;
}

.permissions {
  padding: 4px 6px;
}

.permissions {
  padding: 4px 6px;
}

.permission {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}

.permission:hover {
  cursor: pointer;
}

.permission_title {
  padding: 2px 4px;
}

.permission_description {
  color: grey;
  font-size: 0.8em;
  padding: 2px 4px;
}

#confirm_permission_header_title {
  display: flex;
  flex-direction: row;
}

.confirm_permission_admin_name {
  margin: 0 1em;
  color: red;
  font-weight: bolder;
}

.confirm_permission_title_text {
  margin: 0 1em 0 0;
  color: red;
  font-weight: bolder;
}

#confirm_permission_background {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

#confirm_permission {
  width: max-content;
  background-color: white;
  margin: 10px auto;
  border-radius: 4px;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

#confirm_permission_footer {
  display: flex;
  flex-direction: row;
}

#confirm_permission_confirm {
  width: max-content;
}

#confirm_permission_cancel {
  width: max-content;
  margin: 5px auto;
}

.enabled_permission {
  background-color: rgb(17, 237, 155);
}