.mnavbar_main_option_name {
  display: flex;
  flex-direction: row;
}

#orders_error_icon {
  font-size: 1em;
  margin: auto 0px 0 1px;
  color: #db4747;
}

.pending_order {
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px auto;
  border-radius: 6px;
}

.pending_order table {
  border: none;
  margin: 10px 0;
}

.pending_order_info {
  display: flex;
  flex-direction: column;
}

.pending_order_info_name, .pending_order_info_address, .pending_order_info_phone, .pending_order_info_send_at, .pending_order_info_total_price {
  width: 100%;
  padding: 6px;
  text-align: left;
}

.pending_order_info_name {
  text-align: center;
  color: #c44b4b;
  font-weight: bolder;
  padding: 8px;
}

.pending_order_header {
  box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.2);
}

.pending_order_actions {
  display: flex;
  flex-direction: row;
  box-shadow: 0 -4px 8px -5px rgba(0, 0, 0, 0.2);
}

.pending_order_action {
  margin: 10px;
  width: auto;
  flex: 1;
}

.pending_order_action:hover {
  background-color: #c44b4b;
  color: white;
}

#cuisine_orders_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #444444cf;
  z-index: 4000;
  display: flex;
  flex-direction: column;
} 

#cuisine_hint {
  margin: auto;
}

.cuisine_hint_icon {
  height: max-content;
  margin-top: 30px;
}

.cuisine_hint_text {
  padding: 6px;
  background-color: #c44b4b;
  border-radius: 6px;
  color: white;
}

#right_container {
  display: flex;
  flex-direction: column;
}

.close_cuisine_orders {
  width: max-content;
  height: max-content!important;
  color: #eee!important;
  font-size: 1em;
  margin: auto 10px!important;
}

.open_cuisine_orders {
  width: max-content;
  height: max-content!important;
  color: #eee!important;
  font-size: 1.25em;
  margin: auto 10px!important;
}

.close_all_cuisine_orders {
  width: max-content;
  height: max-content !important;
  margin: 10px 10px auto auto;
  color: white!important;
  font-size: 1em;
}

#all_cuisine_orders_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  flex-direction: column;
  background-color: rgba(51, 51, 51, 0.84);
}

.cuisine_order {
  background-color: #dbdbdb;
  margin: 8px;
  border-radius: 6px;
  padding: 4px 8px;
}

.cuisine_order {
  cursor: pointer;
}

.cuisine_order_number {
  font-weight: bolder;
}

.cuisine_order_products .list_item {
  color: grey;
  font-size: 0.85em;
}

#left_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#cuisine_orders_header {
  display: flex;
  flex-direction: row;
  background-color: #88858582;
}

#cuisine_orders_body {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

#selected_cuisine_order_manage {
  margin: 5px auto;
  max-width: 35em;
  display: flex;
  flex-direction: row;
}

.cuisine_order_manage_btn {
  border-radius: 4px;
  margin-left: 10px;
  transition: .25s color, .25s background-color;
}

.ready_order_btn {
  background-color: #37df3730;
  border: 2px solid #37df37;
  color: #37df37;
}

.making_order_btn {
  background-color: #e4a31830;
  border: 2px solid #e09d21;
  color: #e09d21; 
}

.making_order {
  background-color: #e09d21!important;
}

.cancel_order_btn {
  background-color: #e4181830;
  border: 2px solid #e02121;
  color: #e02121;
}

.cuisine_order_manage_btn .icon {
  color: inherit;
}

.cuisine_order_manage_btn .icon_text {
  color: inherit;
}

.cuisine_order_manage_btn:hover {
  color: white;
}

.ready_order_btn:hover {
  background-color: #37df37!important;
}

.making_order_btn:hover {
  background-color: #e09d21!important;
}

.cancel_order_btn:hover {
  background-color: #e02121!important;
}

#cuisine_orders_title {
  margin: 10px auto;
  font-size: 1.4em;
  color: #eee;
  border-radius: 2px;
  flex: 1;
  text-align: center;
  text-align: center;
}

.selected_cuisine_order {
  background-color: white;
}

.cuisine_order_container {
  display: flex;
  flex-direction: column;
}

.cuisine_order_username {
  text-align: center;
}

#selected_cuisine_order_container {
  flex: 1;
  overflow: auto;
  margin-top: 20px;
}

#selected_cuisine_order {
  overflow: auto;
}

.selected_cuisine_order_product {
  background-color: #e8e5e5;
  margin: 10px;
  border-radius: 6px;
}

.selected_cuisine_order_product_quantity {
  text-align: center;
  font-weight: bolder;
  padding: 6px;
  margin-left: 5px;
}

.selected_cuisine_order_ingredients {
  height: max-content;
}

.selected_cuisine_order_ingredients .list_item {
  padding: 4px;
  color: gray;
}

.selected_cuisine_order_ingredients .list_empty {
  margin-top: 10px;
}

.selected_cuisine_order_product_comments {
  padding: 6px;
  color: #c42121;
  font-weight: bolder;
}

.selected_cuisine_order_product_name {
  flex: 1;
  text-align: center;
  font-weight: bolder;
  padding: 6px;
}

.selected_cuisine_order_product_icon {
  margin-right: 5px;
  color: #d52525!important;
}

.selected_cuisine_order_product_header {
  display: flex;
  flex-direction: row;
}

.delivery_order {
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  margin: 10px auto;
  transition: .25s background-color;
}

.delivery_order:hover {
  cursor: pointer;
}

.deliver_order_header {
  background-color: #eee;
}

.delivery_order_address {
  flex: 1;
  padding: 4px 6px;
  height: min-content;
  margin: auto 0px;
}

.delivery_order_price {
  background-color: #4cb94c;
  margin: 8px;
  width: 3em;
  height: 2.4em;
  border: 2px solid #43a443;
  border-radius: 4px;
  display: flex;
}

.delivery_order_id {
  padding: 8px 6px;
  font-weight: bolder;
  border-radius: 4px 0 0 4px;
  color: #c44b4b;
  text-align: center;
}

.delivery_order_header {
  background-color: white!important;
  box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.2);
}

.delivery_order_footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 -4px 8px -5px rgba(0, 0, 0, 0.2);
}

.delivery_order_footer_action {
  margin: 10px;
  width: auto;
  flex: 1;
}

.delivery_order_product_body_title {
  margin-top: 5px;
  padding: 0 6px 6px 6px;
  font-weight: bolder;
}

.delivery_order_product_body_ingredients .list_item {
  padding-left: 6px;
  color: #afb1b3;
}

.delivery_order_product_body_ingredients {
  margin-bottom: 5px;
}

#full_delivery_order_client_info {
  background-color: white;
  margin: 15px;
  border-radius: 6px;
}

#full_delivery_order {
  width: 100%;
  max-width: 35em;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#full_delivery_order_header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#full_delivery_order_header_title {
  border-radius: 4px;
  flex: 1;
  height: max-content;
  padding: 8px;
  text-align: center;
  margin: 10px;
  font-weight: bolder;
}

#full_delivery_order_header_navigation {
  display: flex;
  flex-direction: row;
}

#full_delivery_order_header_navigation .icon {
  margin: 8px;
}

#full_completed_order {
  width: 100%;
  max-width: 35em;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#full_completed_order_header_navigation {
  display: flex;
  flex-direction: row;
  position: relative;
}

#full_completed_order_header_navigation .icon {
  left: 15px;
  top: 10px;
  position: absolute;
  width: max-content;
  height: max-content!important;
}

#full_delivery_order_client_info .info_icon {
  width: 100%;
  padding: 6px;
  margin: 0 auto;
  border-bottom: 0.5px solid rgba( 0,0,0,0.1 );
}

#full_delivery_order_client_info_title {
  padding: 2px 10px;
  font-weight: bolder;
  margin-top: 5px;
}

.full_delivery_order_header_client_name {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 5px auto;
}

.full_delivery_order_header_client_name_label {
  padding: 6px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(0, 0, 0, 0.09);
}

.full_delivery_order_header_client_name_text {
  padding: 6px;
  margin: auto 5px;
  width: 100%;
  border-radius: 0 4px 4px 0;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.09);
}

#full_delivery_order_header .icon {
  margin: 10px 10px 5px 2.5%;
  border-radius: 4px;
  padding: 4px 6px;
  height: min-content;
}

.full_delivery_order_header_title {
  height: min-content;
  margin: auto;
  padding: 8px;
}

#full_delivery_order_body {
  flex: 1;
  overflow: auto;
}

#full_delivery_order_footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.full_delivery_order_footer_price {
  padding: 8px 10px 12px 10px;
  text-align: right;
  font-weight: bolder;
  border-radius: 4px;    
}

#show_client_info_btn {
  width: 90%;
  margin: 5px auto;
}

#full_delivery_order_complete_btn {
  padding: 8px;
  margin: 10px auto;
  width: 90%;
}

.delivery_order_product {
  width: 100%;
  border-radius: 4px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 6px;
}

.delivery_order_product_header {
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid rgba( 0, 0, 0, 0.1 );
}

.delivery_order_product_name {
  flex: 1;
  text-align: center;
  padding: 6px;
  margin: auto;
}

.delivery_order_product_quantity {
  padding: 6px;
  margin: auto;
}

.delivery_order_product_price {
  padding: 6px;
  margin: auto;
}

.delivery_order_product_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 0px;
  overflow: hidden;
  display: none;
  transition: .25s max-height;
}

.delivery_order_body {
  background-color: none;
  border: none;
  margin: 10px 0;
}

.delivery_order_product:hover {
  cursor: pointer;
}

.delivery_order_product_comments {
  padding: 6px;
  background-color: #e5e6e7;
  color: #333;
  text-align: center;
  font-weight: bolder;
}

#full_delivery_products_container {
  background-color: white;
  margin: 15px;
  border-radius: 6px;
}

#full_delivery_order_products {
  height: max-content;
}

.full_delivery_order_footer_commnets {
  margin: auto 10px;
  padding: 6px 0px;
  border-radius: 4px;
  color: #333;
}

.delivery_order_product_footer {
  box-shadow: 0 -4px 8px -5px rgba(0, 0, 0, 0.2);
}

.completed_order {
  width: 95%;
  background-color: white;
  border-radius: 4px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.complete_order_header_icon {
  width: max-content;
  margin: 5px;
}

.full_delivery_order_icon {
  width: 2em;
  height: 2em !important;
  border: 2px solid #eae2e2;
  font-size: 3em !important;
  border-radius: 50%;
  margin: auto;
  background-color: #fffdfd;
}

.full_delivery_order_name {
  text-align: center;
  font-weight: bolder;
  margin: 5px auto 10px auto;
  color: #333;
}

#full_completed_order_user {
  width: 90%;
  margin: 10px auto;
}

#full_completed_order_user_header {
  border-bottom: 1px solid #333;
  box-shadow: 0 15px 12px -6px #80808045;
}

#full_completed_order_user_body {
  margin-top: 20px;
}

.full_completed_order_icon {
  background-color: white;
  padding: 6px;
}

#full_completed_order_products {
  height: max-content;
  width: 90%;
  margin: 20px auto 10px auto;
  margin-top: 20px;
}

#full_completed_order_products_title {
  text-align: center;
  font-weight: bolder;
  margin-top: 15px;
  border-bottom: 1px solid #333;
  box-shadow: 0 15px 12px -6px #80808045;
  padding: 4px;
  width: 90%;
  margin: 10px auto;
}

#full_completed_products_container {
  margin-top: 10px;
}

#full_completed_total_container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px auto;
  background-color: white;
  border-radius: 4px;
}

#full_completed_total_title {
  padding: 8px;
  font-weight: bolder;
}

#full_completed_total_price {
  font-weight: bolder;
  padding: 8px;
  margin-left: auto;
}

.complete_order_body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.completed_order_id {
  height: max-content;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  padding: 4px;
}

.complete_order_body_text {
  padding: 4px;
  margin: auto;
  color: grey;
}

.complete_order_body_info {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.full_delivery_order_client_info_phone {
  margin: 10px 10px 0 10px;
}

.complete_order_header, .complete_order_footer {
  width: 80px;
  display: flex;
  padding: 4px 0 0 0;
}

.complete_order_footer {
  box-shadow: 0 0 4px 1px #e1e1e1;
  background-color: #8080800a;
}

.complete_order_footer:hover {
  cursor: pointer;
}

.completed_order_user, .show_completed_order_btn {
  margin: auto;
}

.complete_order_header .icon {
  height: max-content;
}

.show_completed_order_btn .icon {
  height: max-content;
}

@media only screen and ( min-width: 721px ) {

  #all_cuisine_orders_container {
    position: static;
    width: max-content;
    max-width: 100%;
    display: flex!important;
    flex-direction: column;
    overflow-y: auto;
    margin-top: auto;
    height: max-content;
    background-color: #88858582;
    margin: 10px;
    border-radius: 6px;
    padding: 0 10px;
  }

  .close_all_cuisine_orders {
    display: none!important;
  }

  .open_cuisine_orders {
    display: none!important;
  }

}